/* !RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 120px;
}

/* !GENERICS */

a {
    text-decoration: none;
    color: black;
}

.department a:hover, .legal-info a:hover{
    text-decoration: underline;

}

.container-catalog a:hover {
    text-decoration: underline;

}

/* !UTILITY */

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.c-center{
    width: 1200px;
    margin: 0 auto;
}

/* TAGS DISCOUNT & ECO GREEN */

.dsc-50::after{
    content: '-50%';
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

.dsc-30::after{
    content: '-30%';
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

.tag-green-eco::after{
    content: 'Sostenibilità';
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

.only-tag-green-eco::after{
    content: 'Sostenibilità';
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

/* TAG DISCOUNT */

.dsc-50, .dsc-30{
    position: absolute;
    bottom: 50px;
}

.tag-green-eco{
    position: absolute;
    bottom: 50px;
    left: 60px;
}

.only-tag-green-eco{
    position: absolute;
    bottom: 50px;
    left: 0;
}

.red-price::after{
    content: ' €';
    color: red;
}

.list-price::after{
    content: ' €'
}

/* INFOS CATALOG */

.brand{
    font-size: 0.95rem;
}

.dress-model{
    font-size: 1.2rem;
    font-weight: 600;
}

.red-price{
    color: red;
    font-weight: 600;
    font-size: 0.95rem;
    
}

.list-price{
    font-size: 0.95rem;
    text-decoration: line-through;
}

.favorites:hover{
    color: red;

}

/* !HOVER SECTION CATALOG */


#relaxed-ft-tee-unisex:hover{
    content: url(../img/1b.webp);
}

#roses-tee:hover{
    content: url(../img/2b.webp);
}

#voglia-di-colori-pastello:hover{
    content: url(../img/3b.webp);
}

#tee-unisex:hover{
content: url(../img/4b.webp);
}

#stripe-bodice:hover{
    content:url(../img/5b.webp);
}

#maglione-black:hover{
    content: url(../img/6b.webp);
}

/* !LAYOUT */

/* HEADER */

header{
    background-color: #FF6900;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.container-header{
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 30px;
    display: block;  /* ALIGN LOGO */
}

.department a {
    color: white;
    font-size: 1.3;
    font-weight: 700;
    padding: 0 10px;
}

.section-user i {
    font-size: 1rem;
    padding: 0 5px;
    color: white;
}

/* MAIN - CATALOG */

.container-catalog{
    gap: 20px;
}

.container-img-catalog {
    position: relative;
    cursor: pointer;
}

.container-img-catalog img{
    max-width: 100%;
    height: auto;
}

.brand, .dress-model {
    display: block;
}

.favorites{
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    padding: 10px 15px;
}

.info-cat{
    padding-bottom: 50px;
}

.card{
    width: calc(100% / 3);
}

/* FOOTER */

footer{
    height: 100px;
    background-color: #1A1A1A;
    color: white;
}

.legal-info a{
    color: white;
    font-size: 0.9rem;
    padding-right: 5px;
}

.agency-name{
    font-size: 1.2rem;
    font-weight: 600;
}

.container-footer{
    height: 100%;
    justify-content: space-between;
    align-items: center;   
}

.social span{
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
}

.agency-name, .social span{
    padding-bottom: 10px;
}

.social i{
    font-size: 1.5rem;
    padding-right: 8px;
}

.social a {
    color: white;
}
